@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|EB+Garamond|Source+Code+Pro");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.navbar-fixed:first-child {
  position: absolute; }

.brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9.5vh;
  width: 40%;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 997;
  font-family: "Cinzel Decorative", cursive; }

.logo-container {
  height: 64px;
  padding: 0 0 0 10px !important; }

.logo-img {
  height: 100%;
  margin-top: 20px; }

.brand-title {
  font-weight: 600; }

#banner-img {
  margin-top: -8px;
  -webkit-filter: sepia(80%) blur(1px);
  filter: sepia(80%) blur(1px); }
