/* -------------------------------------Estilos Generales------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}

.brand-container{
  display: inline-block;
  height: 110%;
  width: 15%;
  padding: 0;
  background: #a2b6b5;
  color: rgb(12, 63, 70);
  position: relative;
}

.logo-container{
  height: 100%;
}

.logo-img{
  width: 100%;
  color: white;
  margin: 0 auto;
}

.brand-text{
  height: 100%;
  text-align: center;
}

.brand-title{
  height: auto;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.brand-subtitle{
  height: auto;
  margin-top: 0;
  font-size: 20px;
}
