doctype
html(lang="es")
  head
    title
    //METADATA
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="author",content="MAOMK MARKETING AND DESIGN")
    //Import our stylesheet
    link(rel="stylesheet",type="text/css",href="../CSS/main.css")
    //Import Materialize's stylesheet
    link(rel="stylesheet",type="text/css",href="../CSS/materialize.css")
    //Import JQuery
    script(src="../JS/jquery-3.3.1.js")
    //Import our own JS
    script(src="../JS/app.js")  
    //Import materialize´s icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")  
    //Import materialize's JS
    script(src="../JS/materialize.min.js")
  body
    header
      div.navbar-fixed
        nav
          div.nav-wrapper.teal.darken-4
            a.sidenav-trigger(data-target="slide-out", href="#")
              i.material-icons menu
            ul.nav-mobile.center.hide-on-med-and-down
              li: a(href="index.html") Home
              li: a(href="portafolio.html") Portafolio
              li: a(href="contacto.html") Contacto
      ul#slide-out.sidenav
            li: a(href="index.html") Home
            li: a(href="portafolio.html") Portafolio
            li: a(href="contacto.html") Contacto
      div.brand-container.teal.accent-2.z-depth-4
        div.row
          div.logo-container.col.s4
            img.logo-img(src="../Images/Logo1.png")
          div.brand-text.col.s8.center-align
            h3.brand-title.flow-text JADE
            h4.brand-subtitle.flow-text.hide-on-med-and-down Photographs
    section#section-banner
      picture.banner-img-container
        img#banner-img.responsive-img(src="../Images/jade-cabeza1.jpg" alt="Foto de Jade",title="Foto de Jade")
      div.banner-txt-container  
        h3.center-align 
          i.medium.material-icons arrow_downward
        smal.banner-txt-cub DESLIZA PARA VER MÁS
    section#section-photos
      h1.section-photos-title.center-align.flow-text Fotografias   
      div.section-txt
        h4.flow-text.gallery-title Sombreros, gorros, pañuelos y otras cosas
        p.txt.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nisi aliquam, enim excepturi natus quod at, ad voluptatem veniam magnam dolorem provident impedit nam numquam labore, rerum temporibus officia qui.
        br
        p.txt.flow-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorum, laboriosam a deserunt nobis doloribus, perspiciatis omnis, asperiores, aut quo aperiam blanditiis. Eveniet, iste, consequatur! Ducimus, error veritatis ut dolores.
    section
      div.slider-container
        div.slider
          ul.slides
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cabeza/jade-cabeza2.jpg")
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cabeza/jade-cabeza6.jpg")  
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cabeza/jade-cabeza7.png")
              div.caption.center-align#img-link
                div#slider-text
                  h3 Si quieres ver más
                  a.light.grey-text.text-lighten-3(href="!#") click acá!
    section#section-photos.container  
      h4.flow-text.gallery-title Caras, ojitos, muecas y risas
      p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nisi aliquam, enim excepturi natus quod at, ad voluptatem veniam magnam dolorem provident impedit nam numquam labore, rerum temporibus officia qui.
      br
      p.flow-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorum, laboriosam a deserunt nobis doloribus, perspiciatis omnis, asperiores, aut quo aperiam blanditiis. Eveniet, iste, consequatur! Ducimus, error veritatis ut dolores.
    section
      div.slider-container
        div.slider
          ul.slides
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cara/jade-cara1.jpg")
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cara/jade-cara2.jpg")  
            li
              img.gallery-img(src="../Images/fotos/Photos/jade-cara/jade-cara3.jpg")
              div.caption.center-align#img-link
                div#slider-text
                  h3 Si quieres ver más
                  a.light.grey-text.text-lighten-3(href="!#") click acá!
    footer.teal.darken-4
      a(href="#") Facebook
      br
      a(href="#") Instagram
      br
      a(href="#") Twitter
